<div>
  <table>
    <tr>
      <th><%= @aqw1 %></th>
      <th><%= @aqw2 %></th>
      <% @aqw3.each do |value| %>
        <tr>  
        <td>
          <%= value %>
        </td>
      </tr>
      <% end %>
    </tr>
  </table>
</div>

