<%= form_tag("/membuat") do %>
<div>
    <label>Nama game</label>
    <input type="text" name="namagame"> 
</div>
<div>
    <label >Deskripsi</label>
    <input type="text" name="komentar">
</div>
<button type="submit">submit</button>
<a href="/tentang">kembali</a>
    

<% end %>